
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
    <link rel="stylesheet" href="/semantic/dist/semantic.min.css">

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>
  </head>
  <body>

<div class="ui three item teal fixed top sticky menu">
  <a class="item" href="#1">
      1<i class="fa fa-star"></i>
  </a>
  <a class="item" href="#2">
    2
  </a>
  <a class="item" href="#3">
   3 
  </a>
</div>

    <br/><br/><br/><br/>

<div class="ui container">
  

<h1 class="ui top attached center aligned block header">
  Header
  </h1>
  <div class="ui attached segment">
    content
  </div>
        <div class="ui equal width celled grid">

          <div class="center aligned row">
            <div class="column">
              a
            </div>
            <div class="column">
              b
            </div>
            <div class="column">
              c
            </div>
            <div class="column">
              d
            </div>
            <div class="column">
              e
            </div>
          </div>
          <div class="center aligned row">
            <div class="column">
              a
            </div>
          </div>
        </div>
  
        <div class="ui center aligned container">
          <div class="ui card">
  <div class="image">
    <img src="https://cdn.hyperdev.com/click-me.svg?1477239469954">
  </div>
  <div class="content">
    <a class="header">Kristy</a>
    <div class="meta">
      <span class="date">Joined in 2013</span>
    </div>
    <div class="description">
      Kristy is an art director living in New York.
    </div>
  </div>
  <div class="extra content">
    <a>
      22 Friends
    </a>
  </div>          
    </div>
  </div>



    <h2 id="1" class="ui top attached teal block header">
      Header 1
    </h2>
    <div class="ui  teal attached segment">
      <div class="ui input focus">
  <input type="text" placeholder="Search...">
</div>
    </div>
    <div class="ui  teal attached segment">
      <div class="ui segment">
  <div class="ui active inverted dimmer">
    <div class="ui text loader">Loading</div>
  </div>
  <p></p>
</div>
    </div>
    <div class="ui  teal attached segment">
      <div class="ui segment">
  <div class="ui active loader"></div>
  <p></p>
 </div>
    </div>
    <div class="ui bottom teal attached segment">
        <div class="ui active dimmer">
    <div class="ui massive text loader">Loading</div>
      </div>
      <p></p>
      <p></p>
      <p></p>
    </div>
  
  <br/><br/><br/>
  
  <div class="ui three doubling stackable cards">
  <div class="ui card">
    <div class="image">
      <div class="ui placeholder">
        <div class="square image"></div>
      </div>
    </div>
    <div class="content">
      <div class="ui placeholder">
        <div class="header">
          <div class="very short line"></div>
          <div class="medium line"></div>
        </div>
        <div class="paragraph">
          <div class="short line"></div>
        </div>
      </div>
    </div>
    <div class="extra content">
      <div class="ui disabled primary button">Add</div>
      <div class="ui disabled button">Delete</div>
    </div>
  </div>
</div>
  
    <h3 id="2" class="ui top attached teal inverted header">
      Header 2
  </h3>
  <div class="ui teal inverted attached segment">
    segment 2
  </div>
    <div class="ui teal inverted attached segment">
    segment 2
  </div>
    <div class="ui teal inverted attached segment">
    segment 2
  </div>
    <div class="ui teal inverted bottom attached segment">
    segment 2
  </div>
  
  
  <div class="ui horizontal segments">
  <div class="ui segment">
    

    <div class="ui fade reveal">
      <div class="visible content">
        <img src="https://cdn.hyperdev.com/paste-me.svg?1477325869954" class="ui small image">
      </div>
      <div class="hidden content">
        <img src="https://cdn.hyperdev.com/click-me.svg?1477239469954" class="ui small image">
      </div>
    </div>
    
  </div>
  
  
  <div class="ui segment">
  
  
    
    <div class="ui move reveal">
      <div class="visible content">
        <img src="https://cdn.hyperdev.com/paste-me.svg?1477325869954" class="ui small image">
      </div>
      <div class="hidden content">
        <img src="https://cdn.hyperdev.com/click-me.svg?1477239469954" class="ui small image">
      </div>
    </div>

  </div>
  
  
  <div class="ui segment">    
    
    <div class="ui rotate reveal">
      <div class="visible content">
        <img src="https://cdn.hyperdev.com/paste-me.svg?1477325869954" class="ui small image">
      </div>
      <div class="hidden content">
        <img src="https://cdn.hyperdev.com/click-me.svg?1477239469954" class="ui small image">
      </div>
    </div>
  
  </div>
    </div>
  
  
  <div class="ui three steps">
    <div class="step">
      step 1
    </div>
    <div class="step">
      step 2
    </div>
    <div class="step">
      step 3
    </div>
  </div>
  
  
  <h4 id="3" class="ui top attached block header">
    
    Header 3
  </h4>
  <div class="ui  attached segment">
    segment 3
  </div>
  <div class="ui attached segment">
    <button class="ui button">
      button
    </button>
    <button class="ui teal button">
      button
    </button>
  </div>
  <div class="ui bottom attached inverted segment">
           <button class="ui teal button">
      button
    </button> 
       <button class="ui teal inverted button">
      button
    </button> 
  </div>

  </div>
  
    
    
    <br/><br/><br/><br/>

    <div class="ui six item teal inverted fixed bottom sticky menu">
      <a class="item" href="https://www.linkedin.com/" target="new">Linkedin</a>
      <a class="item">Facebook</a>
      <a class="item">Twitter</a>
      <a class="item">GitHub</a>
      <a class="item">Instagram</a>
    </div>

  </body>
</html>
